/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Global Styles */
body {
  background-color: #010313;
  color: #b182aab6;
  background-image: url(bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'tektur', serif;
}

/* Header Styles */
header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  backdrop-filter: blur(8px);
}

.logo {
  width: 50px;
  margin: 10px;
  color: #d021b9;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #b182aa;
  transition: color 0.3s ease;
}

a:hover {
  color: #d021b9;
}

.join-btn {
  padding: 10px 20px;
  background-color: #d021b9;
  box-shadow: 0 0 10px #ff00ff;
  color: #fcfbfcb6;
  border-radius: 8px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}

.join-btn:hover {
  background-color: transparent;
  color: #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
  transition: .15s ease-in-out;
}

/* Home Section Styles */
.home {
  margin-top: 5%;
  text-align: center;
  backdrop-filter: blur(8px);
  padding: 10%;
  height: 100vh;
}

.h-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.home h1 {
  color: #a7008eb7;
  font-size: 68px;
  margin-bottom: 20px;
  margin-top: 5%;
}

.home p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 40px;
}

.home button {
  padding: 10px 20px;
  background-color: #d021b9;
  box-shadow: 0 0 10px #ff00ff;
  color: #fcfbfcb6;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.home button:hover {
  background-color: transparent;
  color: #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
}

/* About Section Styles */
#about {
  max-width: 900px;
  height: 100%;
  padding: 50px 20px;
  text-align: center;
  border-left: 1px solid #803375;
  border-right: 1px solid #803375;
  margin-bottom: 5%;
}

.section-heading {
  margin-bottom: 40px;
}

.about-content {
  max-width: 600px;
  margin: 0 auto;
}

/* Games Section Styles */
.games,
.events,
.community,
.about {
  width: 80%;
  height: 100vh;
  margin: 10px auto;
  padding-top: 44px;
}

.games-content {
  text-align: center;
  padding: 20px;
}

/* Games Grid Styles */
.games-grid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.grid-item {
  overflow: hidden;
  border: 2px solid #ff00ff31;
  box-shadow: 0 2px 8px 0 #ff00ff1e;
  border-radius: 16px;
  text-align: left;
}

.grid-item p {
  font-size: 13px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.grid-item:hover {
  box-shadow: 0 9px 16px 0 #ff00ff52;
  background-color: #d021b913;
}

.container {
  padding: 6px 16px;
  width: 80%;
}

h2 {
  color: #f1abe8;
  font-size: 2.5em;
}

.events h2 {
  border-bottom: 1px solid #803375;
  width: 40%;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Events Section Styles */
#events {
  margin-top: 27%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 9px 16px 0 #ff00ff52;
  max-width: 900px;
  border-radius: 20px;
}

.div1 {
  margin-top: 5%;
  flex: 0 0 calc(50% - 10px);
  padding: 20px;
  box-sizing: border-box;
}

/* Community Section Styles */
.community {
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  padding: 2cm;
}

.community .div1 {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(39, 39, 39, 0.5);
  transition: transform 0.3s ease;
}

.community .div1:hover {
  transform: scale(1.05);
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.2em;
  background-color: #803375;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #070b1f50;
  box-shadow: 0 0 20px rgba(39, 39, 39, 0.5);
}

/* Footer Styles */
footer {
  margin-top: 80%;
  background-color: #010313;
  color: #803375;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-size: 12px;
}

.f-content a {
  color: #803375;
}

.f-content a:hover {
  color: #b182aa;
}

.f-ul a {
  font-size: 12px;
}